@import '../../Styles/var';

.login,
.register {
  padding: 120px 0;
}
.login__window,
.register__window {
  padding: 50px 55px;
  box-shadow: 0px 0px 25px 10px #f8f8fb;
  max-width: 544px;
  min-height: 474px;
  margin: 0 auto;
  text-align: center;
}
.login__title,
.register__title {
  margin-bottom: 7px;
}
.login__subtitle,
.register__subtitle {
  margin-bottom: 37px;
  @include fonts(17px, 20px, normal, $input-color);
  font-family: 'Lato', sans-serif;
}
.login__btn,
.register__btn {
  border-radius: 3px;
  border: none;
  margin-bottom: 25px;
  @include btns($pink-dark, 100%, 47px);
  @include fonts(17px, 20px, normal, $white);
}

.login__form,
.register__form {
  display: grid;
  gap: 25px;
  justify-items: start;
}

.register__info {
  width: 200px;
  margin: 0 auto;
}
.input {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  & > input {
    height: 100%;
  }
  &__check {
    border: none;
    width: 70px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
  }
}
.input__error {
  color: red;
}
.input__normal,
.input__break {
  width: 100%;
  height: 52px;
  border: 1px solid $input-border;
  border-radius: 2px;
  padding: 15px;
  @include fonts(16px, 19px, normal, $dark);
  font-family: 'Lato', sans-serif;
  &::placeholder {
    @include fonts(16px, 19px, normal, $input-color);
  }
}
.input__break {
  border: 1px solid red;
}
